.App {
  text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

body {
  /* background-color: rgb(148, 210, 231);;
   */
   /* background-color: #ede7f6; */
    background-color: #DAEBF3;
}
