body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
    font-family: "Fira Code", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@media print {
    nav, footer, .print-hidden {
        display: none !important;
    }
    body, html {
        background-color: white !important;
        color: black !important;
        margin: 0;
        padding: 0;
    }
    * {
        box-shadow: none !important;
    }
}
